#div-global{
  align-items: center;
  background-color: black;
  border-bottom: 0px;
  display:flex;
  justify-content: space-between;
  position:fixed;
  vertical-align: middle;
  width: 100%;
  -webkit-box-align:center;
}
.is-hidden {
  opacity: 0;
  transition: transform 0.4s, opacity 0.2s;
}
#div-logo{
  float:left;
}
#img-logo{
  height: 70px;
  padding: 5px 30px 5px 100px;
}

#div-global-links{
  float: right;
}
#ul-nav{
  display:flex;
  justify-content: space-evenly;
  list-style: none;
  margin-right: 100px;
}
#ul-nav li{
  color: white;
  display:inline-block;
}
#current-link{
  color: #9e9e9e !important;
}
#div-global-links a, #div-global-links a:visited{
  color: white;
  font-family:Arial, serif;
  font-size: 15px;
  margin-left: 20px;
  padding:5px 10px 5px 10px;
  text-decoration: none;
}

body{
  background-color:#cfcfcf;
  height:10000px;
  margin:0px;
}
